.navbar{
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.navbar-menu{
    list-style: none;
    display: flex;
    gap: 40px;
    color: blue;
    font-size: 25px;
    cursor: pointer;
}

.navbar-right{
    display: flex;
    align-items: center;
    gap: 40px;
}

.navbar button{
    background: transparent;
    font-size: 20px;
    color: #49557e;
    padding: 7px 20px;
    border-radius:50px;
    cursor: pointer;
}
.navbar button:hover{
    background-color: blue;
    color: aliceblue;
}
.navbar .active{
    padding-bottom: 2px;
    border-bottom: 2px solid rgb(1, 0, 0);
}

.navbar-search-icon{
    position: relative;
}

.navbar-search-icon .dot{
    position: absolute;
    min-height: 10px;
    min-width: 10px;
    background-color: tomato;
    border-radius: 5px;
    top: -8px;
    right: -8px;
}